html {
  box-sizing:border-box;

}
*, *::before; *::after {
  box-sizing:inherit;
}


body {
  font-family: 'Dosis', sans-serif;
  margin:0;
}
.masthead{
  background-image:url("../images/beetleicon.svg"),url("../images/beetleicon.svg"), url("../images/headerwaves.jpg");
  background-postion:left,right,left top;
  background-repeat: no-repeat, no-repeat, repeat;



}

.beet1 {
  width:15%;
  float:left;

}

.beet2{
  width:15%;
  float:right;

}
.beet3 {
  width:25%;

}

h1 {
  text-align:center;
  width:100%;


}
img {
  width:50%;
  clear:both;

}

.rocks {
  width:100%;
  position:relative;
}
.tagline{
  position:absolute;
  bottom:15px;
}

.bug-1{
  width:50%;


  float:left;



}

.bug-2{
  width:50%;
  float:left;


}

.bug-3{
  width:50%;


  float:left;
clear:both;

}

.bug-4{
  width:50%;

  float:left;


}

.insects {

}

li {
  color:white;
  list-style-type:none;
  width:25%;
  border: 1px solid black;
  display:inline-block;

}





.button {
  display:inline-block;
  padding:0.5em 0.75em;
  text-decoration:none;
  color:#fff;
  background-color:#a8ae98;
  border-radius:10px;
  background-image:linear-gradient(to bottom, #a8ae98 ,#5b5e52);

}

footer {
  color:#512200;
  display:inline-block;
  width:100%;
}
