html {
  box-sizing:border-box;

}
*, *::before; *::after {
  box-sizing:inherit;
}


body {
  font-family: 'Dosis', sans-serif;
  margin:0;
}
.masthead{
  background-image:url("../images/beetleicon.svg"),url("../images/beetleicon.svg"), url("../images/headerwaves.jpg");
  background-postion:left,right,left top;
  background-repeat: no-repeat, no-repeat, repeat;



}

.beet1 {
  width:15%;
  float:left;

}

.beet2{
  width:15%;
  float:right;

}
.beet3 {
  width:25%;

}

h1 {
  text-align:center;
  width:100%;


}
img {
  width:50%;
  clear:both;

}

.rocks {
  width:100%;
  position:relative;
}
.tagline{
  position:absolute;
  bottom:200px;
}

.bug-1{
  width:50%;


  float:left;
  clear:left;



}

.bug-2{
  width:50%;
  float:right;
  clear:right;


}

.bug-3{
  width:50%;
  float:left;
  clear:left;


}

.bug-4{
  width:50%;

  float:right;
  clear:right;


}

.insects {

}

li {
  color:white;
  list-style-type:none;
  width:25%;
  border: 1px solid black;
  display:inline-block;

}






footer {

  background-color:#512200;
  opacity: 0.5;
  display:inline-block;
  width:100%;



}
